.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #44444434;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  cursor: pointer;
}

.App-link {
  color: #41b8a8e1;
}



.login {
  position: absolute;
  top: 10%;
  left: 40%;
}

.signup {
  position: absolute;
  top: 10%;
  left: 40%;
}

hr {
  border-color: #fdfdfd;
}